.paragraph {
  display: flex;
  font-size: 40px;
  line-height: 1;
  padding: 0;
  margin: 0;
  max-width: 1280px;
  color: #F7F6F3;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 640px) {
  .paragraph {
    font-size: 36px;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .paragraph {
    font-size: 60px;
    padding: 0;
    margin: 0;
  }
}

.word {
  position: relative;
  margin-right: 12px;
  margin-bottom: 12px;
}

.highlightGroup {
  display: inline-flex;
  white-space: nowrap;
}

.shadow {
  position: absolute;
  opacity: 20%;
}

